@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-gray-900 font-openSans text-sm;
}

h1#menuTitle {
  color: #332900;
  -webkit-text-fill-color: #ffd833;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #745e19;
}

* {
scrollbar-width: auto;
scrollbar-color: #ffd833 #1a1a1a;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 10px;
}

*::-webkit-scrollbar-track {
background: #ffd833;
}

*::-webkit-scrollbar-thumb {
background-color: #ff6e9d;
border-radius: 020px;
border: 0px solid #3a3131;
}